spring:
  application:
    name: rest-spring-boot-and-kotlin

  flyway:
    enabled: true

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    show-sql: false

  jpa:
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
    show-sql: false

server:
  port: 5000
  servlet:
    context-path: /v1/driver-installer

security:
  jwt:
    token:
      secret-key: abcdefg
      expire-length: 3600000